*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.PERIODIC_TABLE{
  
    display: grid;
    grid-template-columns: repeat( 18,50px);
    grid-template-rows: repeat(10,50px);
    border: 2px solid; 
    padding: 10px;
    gap: 2px;
    width: 1250px;
    height: 590px;
    background-color: aqua;
    text-align: center;
    /* bottom: 0;
    left: 0; */
  
    
    
}    
.table{
      border: 1px solid red;
      
      
    
}
#box2{
  grid-column-start:18 ;
  

}  
#box5{
  grid-column-start: 13;
} 
#box13{
  grid-column-start: 13;
}
#box58{
  grid-area: 10/5/11/6; 
}
#box59{
  grid-area: 10/6/11/7;
}
#box60{
  grid-area: 10/7/11/8;
}
#box61{
  grid-area: 10/8/11/9;
}
#box62{
  grid-area: 10/9/11/10;
}
#box63{
  grid-area: 10/10/11/11;
}
#box64{
  grid-area: 10/11/11/12;
}
#box65{
  grid-area: 10/12/11/13;
}
#box66{
  grid-area: 10/13/11/14;
}
#box67{
  grid-area: 10/14/11/15;
}
#box68{
  grid-area: 10/15/11/16;
}
#box69{
  grid-area: 10/16/11/17;
}
#box70{
  grid-area: 10/17/11/18;
}
#box71{
  grid-area: 10/18/11/19;
}
#box90{
  grid-area: 11/5/12/6;
}
#box91{
  grid-area: 11/6/12/7;
}
#box92{
  grid-area: 11/7/12/8;
}
#box93{
  grid-area: 11/8/12/9;
}
#box94{
  grid-area: 11/9/12/10;
}
#box95{
  grid-area: 11/10/12/11;
}
#box96{
  grid-area: 11/11/12/12;
}
#box97{
  grid-area: 11/12/12/13;
}
#box98{
  grid-area: 11/13/12/14;
}
#box99{
  grid-area: 11/14/12/15;
}
#box100{
  grid-area: 11/15/12/16;
}
#box101{
  grid-area: 11/16/12/17;
}
#box102{
  grid-area: 11/17/12/18;
}
#box103{
  grid-area: 11/18/12/19;
}


        



