* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 100px;
    width: 200px;
    animation: run 1s forwards;
    border-radius: 5px;
    gap: 30px;


}

.red {
    background-color: red;


}

.blue {
    background-color: blue;

}

.green {
    background-color: green;

}

.yellow {
    background-color: yellow;

}

@keyframes run {
    from {
        opacity: 0;
        transform: translateY(-38px);
    }

    to {
        opacity: 1;
        transform: translateY(50px);
    }

}